.category {
	min-width: 30%;
	height: 240px;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #000000;
	margin: 0 7.5px 15px;
	overflow: hidden;

	&:hover {
		cursor: pointer;

		& .category__background-image {
			transform: scale(1.1);
			transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
		}

		& .category__content {
			opacity: 0.9;
		}
	}

	&.large {
		height: 380px;
	}

	&:first-child {
		margin-right: 7.5px;
	}

	&:last-child {
		margin-left: 7.5px;
	}

	.category__background-image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
	}

	.category__content {
		height: 90px;
		padding: 5px 25px;
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
		justify-content: center;
		border: 1px solid #000000;
		background-color: white;
		opacity: 0.7;
		position: absolute;

		h2 {
			font-size: 22px;
			font-weight: bold;
			color: #4a4a4a;
			margin: 0;
		}

		p {
			font-size: 16px;
			font-weight: light;
			color: #4a4a4a;
			margin: 0;
		}
	}
}
