.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  /* 1) slide in effect with opacity change, transition css properties and transform */
  /* transition: all 0.3s ease-out; */
}

/* 
.ModalClosed {
  opacity: 0;
  transform: translateY(-100%);
}

.ModalOpen {
  opacity: 1;
  transform: translateY(0);
} */

/* 2) css animation with keyframes -> executed when classes below are added to element */
.ModalOpen {
  /* if nothing defined (like 'forwards'), it jumps back to starting position after animation  */
  animation: openModal 0.4s ease-out forwards;
}

.ModalClosed {
  animation: closeModal 1s ease-out forwards;
}

/* 3) css for CSSTransition component with 'trunk' */
.fade-slide-enter-active {
  animation: openModal 0.4s ease-out forwards;
}
.fade-slide-exit-active {
  animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(20%); /* bump effect */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(20%); /* bump effect */
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
