.strokes-container {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.stroke-path {
	fill: none;
	stroke-width: 0.03;
	stroke-linecap: round;
	stroke: orange;
	transform-origin: center center;
	animation: background-animation 20s linear infinite;
}

.stroke-path--first {
	transform: rotate(0deg);
}

.stroke-path--second {
	transform: rotate(120deg);
}

.stroke-path--third {
	transform: rotate(240deg);
}

@keyframes background-animation {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: var(--stroke-length);
	}
}
